<div class="mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" style="font-family:'Dancing Script', cursive;">quoteWall</span>
    </div>
  </header>
</div>